.content-label {
  font-size: 18px;
  font-weight: 700;
  padding-right: 10px;
}
.content-section {
  padding: 20px 10px;
  border-bottom: 1px solid #777777;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}